main {
    max-width: 1500px;
    margin: auto;
    padding: 20px;
}

.cat-image-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, 350px);
    gap: 6px;
    justify-content: center;
}

img {
    margin: auto;
}